*{
    box-sizing: border-box;
}

#testy{
    background-color: azure;
    width: 45%;
    height: 500px;
    padding: 5px;
    position: relative;
    left: 70px;
    border: 4px black solid;
}

#testy h2{
    display: flex;
    justify-content: center;
    color: blue;
}

#testy ul{
    font-size: 30px;
}

body{
    background-image: url(http://www.thekingshighway.ca/IMAGES/hwy7A_old.gif);
}

.header .content{
    color: darkblue;
    text-align: center;
    position: relative;
    bottom: 35px;
    padding: 1px;
    background-color: rgb(162, 168, 250);
}

.header h1{
    font-size: 60px;
}

.header p{
    font-size: 25px;
    text-decoration: underline;
    position: relative;
    bottom: 20px;
}

/* Menu */
/*Pierwsza sekcja*/

#menu{
    display: flex;
    justify-content: center;
    position: relative;
    right: 60px;
}

.first_button{
    background-color: blueviolet;
    color: cornsilk;
    width: 100px;
    height: 60px;
    position: relative;
    top: 10px;
    left: 10px;
}

.first_button:hover{
    background-color: thistle;
    width: 120px;
}

.menue{
    background-color: darkslategrey;
    width: 100%;
    height: 80px;
    position: relative;
    bottom: 35px;
    border: 2px solid black;
}

.second_button{
    background-color: blueviolet;
    position: relative;
    top: 10px;
    left: 50px;
    color: white;
    width: 100px;
    height: 60px;
}

.second_button:hover{
    background-color: thistle;
    width: 120px;
}

.third_button{
    background-color: blueviolet;
    width: 100px;
    height: 60px;
    position: relative;
    left: 90px;
    top: 10px;
    color: white;
}

.third_button:hover{
    background-color: thistle;
    width: 120px;
}

.contactbtn{
    background-color: blueviolet;
    width: 100px;
    height: 60px;
    color: white;
    position: relative;
    left: 125px;
    top: 10px;
}

.contactbtn:hover{
    background-color:thistle ;
    width: 120px;
}




