.kropcia{
    font-size: 90%;
    color: brown;
    position: relative;
    top: 600px;
}

small{
    font-size: 20px;
    color: rgb(167, 73, 6);
    position: relative;
    top: 600px;
}

h1{
    color: darkslateblue;
    text-transform: uppercase;
    background-color: floralwhite;
    width: 40%;
    text-align: center;
}

.corwin{
    width: 40%;
    height: 500px;
    position: relative;
    bottom: 100px;
    left: 50px;

}

.corwin2{
    width: 50%;
    height: 600px;
    position: relative;
    left: 150px;
    bottom: 75px;
}

body{
    background-color: rgb(227, 227, 255) ;
}